
*.jpg
*.ogg
__pycache__/downloader.cpython-38.pyc
.idea/YoutubePlayer.iml
.idea/vcs.xml
.idea/modules.xml
.idea/misc.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/inspectionProfiles/profiles_settings.xml
